@using System.Collections.Generic

<div class="feed-container">
    <div class="feed-messages">
        @foreach (var message in Messages)
        {
            <div class="feed-message">@message</div>
        }
    </div>
</div>


